*{margin:0;padding:0;}
.selectnav {display:none;}
#nav {display:block}
.rox {overflow:hidden}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:10px;}
.alignright {float:right;margin-left:10px;}
.aligncenter {display:block;margin:0 auto}
a, a:active, a:focus, a:active {text-decoration:none !important;color:#fff}
a:focus {border:none}
img {max-width:100%}
h1, h2, h3, h4, h5, h6 {font-weight:normal;margin:0 0 15px;}
.warp {display:block;transition: all 0.9s ease 0s;-moz-transition: all 0.9s ease 0s;-webkit-transition: all 0.9s ease 0s;-o-transition: all 0.9s ease 0s;}
ul {margin:0;padding:0;list-style:none}
body {background: url("img/bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);font-family: 'open_sansregular';font-size:14px;line-height: 22px;}
div {overflow:hidden;}
.header{}
.container_outer{background: url("img/outer_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);}
.container_inner{background: none repeat scroll 0 0 #FFFFFF;}
.menu{background: url("img/menu_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
height: 34px;}
#rav {}
#rav li {float: left;padding-top: 3px;}
#rav li a{color: #FFFFFF;font-family: 'open_sansregular';font-size: 17px;font-weight: normal;padding: 15px;}
#rav li a:hover{background:url(img/topmenu.gif) repeat-x scroll right top;}
#rav  a {}
.main_content{}
.content{padding-left: 12px;padding-top: 5px;}

.content p{text-align:justify;}
.sidebar{background: url("img/sidebar_bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);margin-right: 15px;margin-top: 5px;padding-bottom:20px}
.sidebar h3{background: url("img/bult.gif") no-repeat scroll left top rgba(0, 0, 0, 0);color: #FFFFFF;font-weight: normal;line-height: 30px;margin-top: 12px;
padding-left: 40px;}
.sidebar ul{padding-left: 10px;}
.sidebar ul li{background: url("img/bult_list.gif") no-repeat scroll 0 14px rgba(0, 0, 0, 0);font-family: 'open_sansregular';padding-left: 15px;padding-top: 5px;}
.sidebar ul li a{}
.sidebar ul li a:hover{}
.footer_top_area{}


.single_footer_one h3{background: url("img/bult.gif") no-repeat scroll left top rgba(0, 0, 0, 0);font-weight: normal;line-height: 30px;margin-top: 12px;padding-left: 40px;color: #E18F01;font-size: 20px;}
.single_footer_one{background: url("img/footer_bg_one_three.png") repeat scroll 0 0 rgba(0, 0, 0, 0);margin-bottom: 5px;margin-left: 5px;}
.single_footer_one ul{padding-bottom: 25px;padding-left: 12px;}
.single_footer_one ul li{background: url("img/bult_list.gif") no-repeat scroll 0 14px rgba(0, 0, 0, 0);font-family: 'open_sansregular';padding-left: 15px;padding-top: 5px;}
.single_footer_one ul li a{}
.single_footer_one ul li a:hover{}


.single_footer_two h3{background: url("img/bult.gif") no-repeat scroll left top rgba(0, 0, 0, 0);font-weight: normal;line-height: 30px;margin-top: 12px;padding-left: 40px;color: #E18F01;font-size: 20px;}
.single_footer_two{background: url("img/footer_bg_two_four.png") repeat scroll 0 0 rgba(0, 0, 0, 0);}
.single_footer_two ul{padding-bottom: 25px;padding-left: 12px;}
.single_footer_two ul li{background: url("img/bult_list.gif") no-repeat scroll 0 14px rgba(0, 0, 0, 0);font-family: 'open_sansregular';padding-left: 15px;padding-top: 5px;}
.single_footer_two ul li a{}
.single_footer_two ul li a:hover{}

.special{display:none;left: 1010px;position: absolute;top: 176px;width: 126px;}
.special ul{}
.special ul li{ float: left;padding-left: 10px;
}
.special ul li a{padding-left: 15px;}
.special ul li a:hover{}


.fb{background: url("img/footer_social.png") no-repeat scroll -4px -5px rgba(0, 0, 0, 0);display: block;height: 38px;text-indent: -99999px;width: 32px;}
.sk{background: url("img/footer_social.png") no-repeat scroll -92px -5px rgba(0, 0, 0, 0);display: block;height: 38px;text-indent: -99999px;width: 32px;}
.gl{background: url("img/footer_social.png") no-repeat scroll -48px -5px rgba(0, 0, 0, 0);display: block;height: 38px;text-indent: -99999px;width: 32px;}
.protect{}
.offer{padding-bottom: 2px;padding-left: 5px;}

.single_footer_three h3{background: url("img/bult.gif") no-repeat scroll left top rgba(0, 0, 0, 0);font-weight: normal;line-height: 30px;margin-top: 12px;padding-left: 40px;color: #E18F01;font-size: 20px;}
.single_footer_three{background: url("img/footer_bg_one_three.png") repeat scroll 0 0 rgba(0, 0, 0, 0);}
.single_footer_three ul{padding-bottom: 25px;padding-left: 12px;}
.single_footer_three ul li{background: url("img/bult_list.gif") no-repeat scroll 0 14px rgba(0, 0, 0, 0);font-family: 'open_sansregular';padding-left: 15px;padding-top: 5px;}
.single_footer_three ul li a{}
.single_footer_three ul li a:hover{}


.single_footer_four h3{background: url("img/bult.gif") no-repeat scroll left top rgba(0, 0, 0, 0);font-weight: normal;line-height: 30px;margin-top: 12px;padding-left: 40px;color: #E18F01;font-size: 20px;}
.single_footer_four{background: url("img/footer_bg_two_four.png") repeat scroll 0 0 rgba(0, 0, 0, 0);}
.single_footer_four ul{padding-bottom: 25px;padding-left: 12px;}
.single_footer_four ul li{background: url("img/bult_list.gif") no-repeat scroll 0 14px rgba(0, 0, 0, 0);font-family: 'open_sansregular';padding-left: 15px;padding-top: 5px;}
.single_footer_four ul li a{}
.single_footer_four ul li a:hover{}


.footer_bottom{color: #FFFFFF;
padding: 2px;
text-align: center;}


