body{
    color: #656565;
	font-family: 'merriweatherregular',  Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
	line-height: 26px;
}
h1{
    color: #38383a;
	font-family: 'merriweatherbold',  Arial, sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
}
div{
	overflow: hidden;
}
.main {
    background-color: #2e2e30;
}
.container {
	
}
.header {
    margin-top: 25px;
}
.logo {
    margin-top: 15px;
}
.menu-main .navbar-nav {
    background-color: #38383a;
	border-radius: 6px;
}
.menu-main .navbar-nav> li > a {
    font-size: 13px;
    font-family: merriweather_sansregular;
    color: #888888;
    letter-spacing: 1px;
}
.menu-main .navbar-nav> li > a:focus, .menu-main .navbar-nav> li > a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    font-family: merriweather_sansbold;
}
.slider {
    margin-top: 25px;
	margin-bottom: 25px;
}
.artcle-first-step {
    margin-bottom: 25px;
}
.artcle-second-step {
    margin-bottom: 25px;
}
.artcle-third-step {
    margin-bottom: 25px;
}
.article-single-default {
    background-color: #fff;
	border-radius: 6px;
	min-height: 418px;
    max-height: 418px;

}
.article-single-featured {
    background-color: #fff;
}
.article-top {
    padding: 20px 32px 5px;
}
.article-bottom {
    padding: 12px 32px;
}
.article-title h2 {
    font-size: 19px;
    font-weight: 600;
    line-height: 26px;
    margin-top: 8px;
    margin-bottom: 12px;
    color: #38383a;
}
.separator {
    border-top: 1px solid #cccccc;
    margin-top: 10px;
    margin-bottom: 10px;
}
.read-more {
    background-color: transparent;
    border: 1px solid #ddd;
    text-transform: uppercase;
    padding: 8px 16px 5px 16px;
    margin: 0;
    border-radius: 18px;
    font-size: 12px;
    color: #2e2e30;
	font-family: 'merriweather_sansregular', Arial, sans-serif;
	letter-spacing: 2px;
}
.article-comment {
    background-color: transparent;      
    border: 1px solid #ddd;      text-transform: uppercase;      
    padding: 5px 10px 5px 12px;      
    border-radius: 18px;      
    font-size: 14px;      
    color: #7f7f7f;
    font-family: 'merriweather_sansregular', Arial, sans-serif;
}
.article-love {
    background-color: transparent;      
    border: 1px solid #ddd;      
    text-transform: uppercase;      
    padding: 3px 6px 3px 6px;      
    border-radius: 18px;      
    font-size: 18px;      
    color: #7f7f7f;      
    font-family: 'merriweather_sansregular', Arial, sans-serif;
}
.article-comment .glyphicon {
    top: 4px;
    font-size: 15px;
    margin-right: 6px;
}
.article-love .glyphicon {
    top: 4px;
}
.article-bottom a, .article-bottom-featured a{
    margin-right: 12px;
}
.article-single-featured {
    background-color: #fff;
    min-height: 418px;
    max-height: 418px;
    border-radius: 6px;
    padding: 20px 20px;
}
.badge {
    position: absolute;
    background-color: #e52a40;
    color: #fff;
    font-size: 12px;
    top: 30px;
    font-family: merriweather_sansregular;
    left: 45px;
    letter-spacing: 2px;
    padding: 5px 10px 3px 12px;
    border-radius: 5px;
    font-weight: normal;
	text-transform: uppercase;
}
.badge.green {
	background-color: #26a65b;
}
.badge.yellow {
	background-color: #e87e04;
}
.badge.purple {
	background-color: #663399;
}
.badge.blue {
	background-color: #4183d7;
}
.article-single-featured .article-title h2 {
	font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-top: 80px;
    margin-bottom: 30px;
    color: #38383a;
}
.article-bottom-featured {
    margin-top: 60px;
    padding: 6px 0px 6px 0px;
}
.article-single-featured p {
    font-size: 14px;
    line-height: 26px;
}
.gray-article {
    background-color: #38383a;
	color: #ffffff;
}
.gray-article .article-title h2 {
    color: #ffffff;
}
.gray-article .read-more {
    color: #fff;
    border-color: #606061;
}
.gray-article .article-comment, .gray-article .article-love, .gray-article .separator {
    border-color: #606061;
}
.article-single-featured .article-right {
    margin-top: 65px;
}
.without-image-article .article-title h2 {
    margin-top: 90px;
    text-align: center;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 20px;
}
.without-image-article .badge {
    left: 35%;
}
.pre-footer-step h2 {
    font-family: merriweatherbold;
    font-size: 24px;
    font-weight: normal;
    color: #7F7F7F;
}
.pre-footer-step {
    background-color: #38383a;
    padding: 10px 32px;
    border-radius: 6px;
    color: #A5A5A5;
}
.footer-step {
    padding: 32px 5px 10px 5px;
}
.artcle-loadmore-step {
    background-color: #38383A;
    margin-bottom: 25px;
    border-radius: 6px;
    padding: 12px 0px;
    font-family: merriweather_sansbold;
    font-size: 14px;
    text-transform: UPPERCASE;
    font-weight: normal;
    color: #fff;
}
.article-load-more {
    text-align: center;
}
.article-load-more a{
    color: #8e8e8e;
	letter-spacing: 2px;
}
.slide-single {
    position: relative;
}

.slider-content {
    position: absolute;
    top: 230px;
    left: 30px;
	
}
.slider-tabbed {
    background-color: #fff;
    border-radius: 6px;
}
h1.slider-title {
    font-family: merriweatherbold;
    font-size: 30px;
    color: #fff;
    margin-bottom: 25px;
}

.slider-content p {
    font-family: merriweatherregular;
    color: #fff;
    font-size: 16px;
}
.slide-single .badge {
    top: 200px;
    left: 45px;
}
.slider-content .read-more {
    display: inline-block;
    margin-top: 20px;
    padding: 0px 16px 0px 16px;
    color: #fff;
}
.slider-tabbed .nav-tabs li a.slide-nav {
    padding: 50px 30px 25px 30px;
    border: none;
    font-family: merriweatherbold;
    line-height: 26px;
    color: #38383a;
}
.slider-tabbed .nav-tabs li.active a.slide-nav {
    background-color: #4b77be;
    border-radius: 0;
	color: #fff;
}
.slider-tabbed .nav-tabs a.slide-nav span {
    position: absolute;
    top: 16px;
    font-size: 12px;
    font-family: merriweather_sansregular;
    letter-spacing: 2px;
    font-weight: normal;
	text-transform: uppercase;
}