/*
 * Font File For Bijoy
 * This Theme Coded From A PSD
 * Copyright 2013.
 * All Rights Reserved.
 * This File Created By Nirob Mahmud.
 */
@font-face {
    font-family: 'MyriadProBoldCondensed';
    src: url('myriadpro-boldcond.eot');
    src: url('myriadpro-boldcond.eot') format('embedded-opentype'),
         url('myriadpro-boldcond.woff') format('woff'),
         url('myriadpro-boldcond.ttf') format('truetype'),
         url('myriadpro-boldcond.svg#MyriadProBoldCondensed') format('svg');
}
@font-face {
    font-family: 'MyriadProCondensed';
    src: url('myriadpro-cond.eot');
    src: url('myriadpro-cond.eot') format('embedded-opentype'),
         url('myriadpro-cond.woff') format('woff'),
         url('myriadpro-cond.ttf') format('truetype'),
         url('myriadpro-cond.svg#MyriadProCondensed') format('svg');
}
@font-face {
    font-family: 'MyriadProLight';
    src: url('myriadpro-light.eot');
    src: url('myriadpro-light.eot') format('embedded-opentype'),
         url('myriadpro-light.woff') format('woff'),
         url('myriadpro-light.ttf') format('truetype'),
         url('myriadpro-light.svg#MyriadProLight') format('svg');
}
/*
 * Bijoy
 * This Page Coded By Nirob Mahmud.
 */
@font-face {
    font-family: 'MyriadProSemibold';
    src: url('myriadpro-semibold.eot');
    src: url('myriadpro-semibold.eot') format('embedded-opentype'),
         url('myriadpro-semibold.woff') format('woff'),
         url('myriadpro-semibold.ttf') format('truetype'),
         url('myriadpro-semibold.svg#MyriadProSemibold') format('svg');
}
