@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif
    }

.uk-container {
    max-width: 1010px;
    padding: 0 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 20px
    }

header.main_head {
    min-height: 75px;
    background: #0e1146
    }

nav.uk-navbar {
    background: none;
    text-align: center;
    margin-top: 22px
    }

ul.uk-navbar-nav.right {
    float: right
    }

.uk-navbar-nav li a {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0 8px;
    line-height: 15px;
    color: #fff;
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: 900
    }

.uk-navbar-nav li a span {
    font-weight: 300;
    font-size: 12px;
    text-transform: capitalize;
    color: #ccc
    }

section.main_ebay {
    background: #ea7561;
    color: #fff
    }

section.main_bigcommerce {
    background: #67c9d7;
    color: #fff
    }

section.main_volusion {
    background: #7890cb;
    color: #fff
    }

section.main_shopify {
    background: #9cb953;
    color: #fff
    }

section.main_amazon {
    background: #ea7017;
    color: #fff
    }

section.main_joomla {
    background: #069;
    color: #fff
    }

section.main_rakuten {
    background: #9676d3;
    color: #fff
    }

div.uk-grid.top_block {
    text-align: center
    }

.top_block h2 {
    color: #fff;
    border-bottom: 1.5px solid #bb5e4e;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-bottom: 15px !important;
    font-size: 22pt
    }

.middle_block div.uk-panel.uk-panel-box {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 12px;
    padding-top: 5px;
    font-size: 14px;
    text-align: center
    }

div.uk-grid.middle_block {
    margin-left: 0
    }

.middle_block div.uk-width-medium-1-4 {
    padding-left: 12px
    }

.middle_block div.uk-panel.uk-panel-box.ebay_work {
    color: #c3614f
    }

.middle_block div.uk-panel.uk-panel-box.bigcommerce_work {
    color: #52a1ac
    }

.middle_block div.uk-panel.uk-panel-box.volusion_work {
    color: #7890cb
    }

.middle_block div.uk-panel.uk-panel-box.shopify_work {
    color: #7d9442
    }

.middle_block div.uk-panel.uk-panel-box.amazon_work {
    color: #bb5a12
    }

.middle_block div.uk-panel.uk-panel-box.joomla_work {
    color: #0a5789
    }

.middle_block div.uk-panel.uk-panel-box.rakuten_work {
    color: #7890cb
    }

.bottom_block h2 {
    width: 100%;
    text-align: center;
    color: #fff;
    border-top: 1px solid #c05d4a;
    border-bottom: 1px solid #c05d4a;
    padding: 5px 0;
    margin-bottom: 18px !important;
    font-size: 22pt
    }

div.uk-grid.bottom_block .left_testimonial p {
    text-align: justify;
    padding-left: 50px
    }

div.uk-grid.bottom_block .right_testimonial p {
    text-align: justify;
    padding-right: 50px
    }

.middle_ebay div.uk-grid.bottom_block .left_testimonial p {
    background: url(../images/left_arrow.png);
    background-repeat: no-repeat;
    background-position: left center
    }

.middle_ebay div.uk-grid.bottom_block .right_testimonial p {
    background: url(../images/right_arrow.png);
    background-repeat: no-repeat;
    background-position: right center
    }

.middle_bigcommerce div.uk-grid.bottom_block .left_testimonial p {
    background: url(../images/big_left_arrow.png);
    background-repeat: no-repeat;
    background-position: left center
    }

.middle_bigcommerce div.uk-grid.bottom_block .right_testimonial p {
    background: url(../images/big_right_arrow.png);
    background-repeat: no-repeat;
    background-position: right center
    }

.middle_volusion div.uk-grid.bottom_block .left_testimonial p {
    background: url(../images/volution_left_arrow.png);
    background-repeat: no-repeat;
    background-position: left center
    }

.middle_volusion div.uk-grid.bottom_block .right_testimonial p {
    background: url(../images/volution_right_arrow.png);
    background-repeat: no-repeat;
    background-position: right center
    }

.middle_shopify div.uk-grid.bottom_block .left_testimonial p {
    background: url(../images/shopify_left_arrow.png);
    background-repeat: no-repeat;
    background-position: left center
    }

.middle_shopify div.uk-grid.bottom_block .right_testimonial p {
    background: url(../images/shopify_right_arrow.png);
    background-repeat: no-repeat;
    background-position: right center
    }

.middle_amazon div.uk-grid.bottom_block .left_testimonial p {
    background: url(../images/amazon_left_arrow.png);
    background-repeat: no-repeat;
    background-position: left center
    }

.middle_amazon div.uk-grid.bottom_block .right_testimonial p {
    background: url(../images/amazon_right_arrow.png);
    background-repeat: no-repeat;
    background-position: right center
    }

.middle_joomla div.uk-grid.bottom_block .left_testimonial p {
    background: url(../images/joomla_left_arrow.png);
    background-repeat: no-repeat;
    background-position: left center
    }

.middle_joomla div.uk-grid.bottom_block .right_testimonial p {
    background: url(../images/joomla_right_arrow.png);
    background-repeat: no-repeat;
    background-position: right center
    }

.middle_rakuten div.uk-grid.bottom_block .left_testimonial p {
    background: url(../images/rakuten_left_arrow.png);
    background-repeat: no-repeat;
    background-position: left center
    }

.middle_rakuten div.uk-grid.bottom_block .right_testimonial p {
    background: url(../images/rakuten_right_arrow.png);
    background-repeat: no-repeat;
    background-position: right center
    }

div.uk-grid.bottom_block .left_testimonial p:last-child, div.uk-grid.bottom_block .right_testimonial p:last-child {
    background: none;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    text-align: right
    }

h3.price_tag {
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    line-height: 50px
    }

.price_tag span {
    font-weight: 100
    }

div.uk-grid.last_one {
    width: 100%;
    background: url(../images/price_bg.png);
    background-position: 70px 0;
    min-height: 40px;
    text-align: center;
    margin-top: 20px;
    background-repeat: no-repeat
    }

.contact_us a {
    background: #fff;
    padding: 5px 50px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #c66;
    text-decoration: none;
    display: inline-block;
    margin-top: 5px
    }

.request_quote a {
    background: #fff;
    padding: 5px 30px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #c66;
    text-decoration: none;
    display: inline-block;
    margin-top: 5px
    }

.middle_bigcommerce div.uk-width-medium-1-3.contact_us a, .middle_bigcommerce div.uk-width-medium-1-3.request_quote a {
    color: #67c9d7
    }

.middle_volusion div.uk-width-medium-1-3.contact_us a, .middle_volusion div.uk-width-medium-1-3.request_quote a {
    color: #6073a2
    }

.middle_shopify div.uk-width-medium-1-3.contact_us a, .middle_shopify div.uk-width-medium-1-3.request_quote a {
    color: #7d9442
    }

.middle_amazon div.uk-width-medium-1-3.contact_us a, .middle_amazon div.uk-width-medium-1-3.request_quote a {
    color: #bb5a12
    }

.middle_joomla div.uk-width-medium-1-3.contact_us a, .middle_joomla div.uk-width-medium-1-3.request_quote a {
    color: #0a5789
    }

.middle_rakuten div.uk-width-medium-1-3.contact_us a, .middle_rakuten div.uk-width-medium-1-3.request_quote a {
    color: #785ea9
    }

div.uk-width-medium-1-3.request_quote {
    padding-left: 90px
    }

div.uk-width-medium-1-3.contact_us {
    padding-right: 50px
    }

.main_bigcommerce div.uk-grid.top_block h2 {
    border-bottom: 1px solid #52a1ac
    }

.main_volusion div.uk-grid.top_block h2 {
    border-bottom: 1px solid #669
    }

.main_shopify div.uk-grid.top_block h2 {
    border-bottom: 1px solid #693
    }

.main_amazon div.uk-grid.top_block h2 {
    border-bottom: 1px solid #bb5a12
    }

.main_joomla div.uk-grid.top_block h2 {
    border-bottom: 1px solid #0a5789
    }

.main_rakuten div.uk-grid.top_block h2 {
    border-bottom: 1px solid #7a5daf
    }

.main_bigcommerce .bottom_block h2 {
    border-top: 1px solid #399;
    border-bottom: 1px solid #399
    }

.main_volusion .bottom_block h2 {
    border-top: 1px solid #6073a2;
    border-bottom: 1px solid #6073a2
    }

.main_shopify .bottom_block h2 {
    border-top: 1px solid #693;
    border-bottom: 1px solid #693
    }

.main_amazon .bottom_block h2 {
    border-top: 1px solid #bb5a12;
    border-bottom: 1px solid #bb5a12
    }

.main_joomla .bottom_block h2 {
    border-top: 1px solid #0a5789;
    border-bottom: 1px solid #0a5789
    }

.main_rakuten .bottom_block h2 {
    border-top: 1px solid #7a5daf;
    border-bottom: 1px solid #7a5daf
    }

.main_footer {
    background: #2d3282;
    text-align: center
    }

.main_footer p {
    margin: 0;
    padding: 8px 0;
    color: #fff
    }

div.uk-container.uk-container-center.middle_ebay, div.uk-container.uk-container-center.middle_bigcommerce, div.uk-container.uk-container-center.middle_volusion, div.uk-container.uk-container-center.middle_shopify, div.uk-container.uk-container-center.middle_amazon, div.uk-container.uk-container-center.middle_joomla, div.uk-container.uk-container-center.middle_rakuten {
    padding-top: 70px;
    position: relative;
    padding-bottom: 100px
    }

.uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a:focus, .uk-navbar-nav > li.uk-open > a {
    background: none;
    color: #444;
    outline: 0
    }

.curve {
    height: 20px;
    background: url(../images/jhalmuri.jpg) repeat-x
    }

.curve h1 {
    font-size: 0
    }

div.main_logo {
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -160px
    }

.middle_bigcommerce div.sub_logo, .middle_ebay div.sub_logo, .middle_volusion div.sub_logo, .middle_shopify div.sub_logo, .middle_amazon div.sub_logo, .middle_joomla div.sub_logo, .middle_rakuten div.sub_logo {
    position: absolute;
    left: 50%;
    top: -58px;
    margin-left: -92px
    }

.main_ebay div.curve {
    background: url(../images/jhalmuri1.jpg) repeat-x
    }

.main_bigcommerce div.curve {
    background: url(../images/jhalmuri2.jpg) repeat-x
    }

.main_volusion div.curve {
    background: url(../images/jhalmuri3.jpg) repeat-x
    }

.main_shopify div.curve {
    background: url(../images/jhalmuri4.jpg) repeat-x
    }

.main_amazon div.curve {
    background: url(../images/jhalmuri5.jpg) repeat-x
    }

.main_joomla div.curve {
    background: url(../images/jhalmuri6.jpg) repeat-x
    }

.main_rakuten div.curve {
    background: url(../images/jhalmuri7.jpg) repeat-x
    }