/*
 * Wings Forum 2014
 * This Theme For Thomas Digital Design.
 * Copyright 2012, Thomas Digital Design.
 * All Rights Reserved.
 * Thomas Digital Design.
 * This Site Coded By Nirob Mahmud.
 * Coded On RRf Project.
 */
*{margin:0;padding:0}
.rox {overflow:hidden}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:10px;}
.alignright {float:right;margin-left:10px;}
.aligncenter {display:block;margin:0 auto}
a, a:active, a:focus, a:active {text-decoration:none !important}
a:focus {border:none}
img {max-width:100%;border:none}
h1, h2, h3, h4, h5, h6 {color: #1E3F7F;font-family: 'MyriadProBoldCondensed';font-size: 40px;font-weight: normal;margin: 0 0 15px;}
.warp {width:960px; margin:0 auto;display:block;transition: all 0.9s ease 0s;-moz-transition: all 0.9s ease 0s;-webkit-transition: all 0.9s ease 0s;-o-transition: all 0.9s ease 0s;}
ul {margin:0;padding:0;list-style:none}
body {}

.header_area {background: url("img/header_bg.png") repeat scroll 0 0 / cover  transparent;border-bottom: 5px solid #D2D2D2;min-height: 40px;}
.header_top {}
.header {}
.header_top_right {color: #FFFFFF;margin-top: 12px;}
.header_top_right ul{float: right;}
.header_top_right ul li{float: left;}
.header_top_right ul li a{background: url("img/social_icons.png") repeat scroll 0 0 transparent;color: #FFFFFF;display: block;height: 18px;margin-right: 14px;text-indent: -9999px;width: 16px;}
.header_top_right ul li a.facebook{background-position: 0 0;}
.header_top_right ul li a.twitter{background-position: -31px 0;}
.header_top_right ul li a.youtube{background-position: -61px 0;}
.header_top_right ul li a:hover{}
.header_top_right p{float: left;font-family: 'LatoRegular';font-size: 12px;margin-right: 10px;}
.header_bottom {position: relative;}
.logo {margin-right: 127px;margin-top: 12px;}
.ragister {margin-top: 58px;width: 378px;}
.floral{}
.ragister p{float: left;font-family: 'MyriadProLight';font-size: 16px;font-style: italic;margin-right: 17px;margin-top: 2px;}.ragister a{color: #654418;font-family: 'LatoBold';font-size: 16px;}
.ragi {background: url("img/ragisterd_now.png") no-repeat scroll 0 0 transparent;padding: 12px 27px;}
.bg_head{}
.floral_bg{background: url("img/header_bottom_bg.png") no-repeat scroll 0 0 transparent;height: 199px;margin-right: -50px;margin-top: 31px;position: absolute;
right: -40px;width: 369px;z-index: -999;}
.slider_area {margin-bottom: 30px;margin-top: 20px;}
.main_menu {font-family: 'MyriadProCondensed';
font-size: 20px;position: relative;}
.menu{background: url("img/menu_bg.png") repeat scroll 0 0 transparent;height: 62px;position: absolute;top: -11px;width: 974px;}
.main_menu ul{}
.main_menu ul li{background: url("img/border_right.png") no-repeat scroll right center transparent;float: left;}
.main_menu ul li:last-child{background:none}
.main_menu ul li a{color: #FFFFFF;display: block;padding: 12px 48px;}
.main_menu ul li a:hover{font-family: 'MyriadProBoldCondensed';color:#C7DF8D;}
.slider_main{position: relative;z-index: -999;}
.slider-wrapper{}
.slider  img {width: 100%;}
.maincontent_area {margin-bottom: 35px;}
.content_top {margin-bottom: 35px;}
.content_left {width: 498px;}
.content_top h1 span{color:#B37A2B;}
.content_left p{font-family: 'MyriadProLight';font-size:20px;}
.content_left h1.first{font-family: 'MyriadProBoldCondensed';font-size: 40px;margin-bottom: 3px;}
.content_left h1.last{font-family: 'MyriadProCondensed';font-size: 40px;line-height: 36px;margin-bottom: 8px;}
.content_right p span{color: #EB3026;font-family: 'MyriadProSemibold';font-size: 22px;font-style: italic;}
.content_right {}
.content_right img.main_img{}
.content_right img {background: url("img/content_right_top_bg.png") repeat scroll 0 0 transparent;height: 139px;padding: 7px 7px 7px 18px;width: 229px;}
.content_right p{float: left;font-family: 'MyriadProLight';font-size: 16px;font-style: italic;margin-right: 12px;margin-top: 88px;text-align: right;}
.content_bottom {background: url("img/content_left_bottom_corner.png") no-repeat scroll right bottom transparent;border-radius: 3px 3px 3px 3px;padding: 18px;}
.content_bottom  p{font-family: 'LatoRegular';font-size: 14px;line-height: 20px;margin-top: 8px;}
.content_bottom img{margin-right: 20px;}
.rt{background: none repeat scroll 0 0 #EEEEEE;}
.shadow{background: url("img/shadow.png") no-repeat scroll center top transparent;height: 8px;}
.promo_area_bg{background: none repeat scroll 0 0 #FDFCFB;border-bottom: 5px solid #D2D2D2;}
.promo_area {margin-bottom: 44px;margin-top: 38px;}
.promo {margin-left: -50px;}
.promo div{font-family: 'LatoRegular';}
.single_promo {float: left;margin-left: 50px;width: 286px;}
.single_promo h1{font-size: 30px;margin-bottom: 35px;text-align: center;}
.single_promo p{min-height: 130px;}
.single_promo img{margin-bottom:40px;}
.readmore{background: none repeat scroll 0 0 #F48326;border-radius: 4px 4px 4px 4px;color: #FFFFFF;display: block;font-family: 'LatoRegular';font-size: 14px;
margin-top: 25px;padding: 7px;width: 70px;}
.readmore_foot{background: none repeat scroll 0 0 #F48326;
border-radius: 4px 4px 4px 4px;
color: #FFFFFF;
display: block;
font-family: 'LatoRegular';
font-size: 14px;
padding: 6px;
width: 39px;
margin-top: 23px;}
.footer_area {}
.footer_area_bg{background: none repeat scroll 0 0 #153570;padding-top: 25px;}
.footer_bottom_bg{background: none repeat scroll 0 0 #122F63;}
.footer_top {margin-left: -50px;}
.footer {margin-bottom: 44px;}
.single_footer {float: left;margin-left: 50px;width: 286px;}
.single_footer h1{font-size: 20px;color: #F48326;}
.single_footer p{color: #FFFFFF;font-family: 'LatoRegular';font-size: 14px;}

.footer_bottom {}
.footer_menu {font-family: 'MyriadProCondensed';font-size:16px;}
.footer_menu {}
.footer_menu  ul{margin-left: 25%;}
.footer_menu  ul li{float: left;}
.footer_menu  ul li a{display: block;padding: 14px;color: #fff;}
.footer_menu  ul li a:hover{font-family: 'MyriadProBoldCondensed';color:#C7DF8D;}
.footer_text{margin-bottom: 19px;color: #fff;}
.footer_text p{color: #8291AC;font-family: 'LatoRegular';font-size: 12px;line-height: 18px;text-align: center;}
.differ{margin-bottom: 64px;}